//
// Color system
//

$white: #fff;
$dx-green: #2ECC71;
$dx-red: #e9240a;
$dx-red-light: #ec3041;
$dx-red-overlay: rgba($dx-red, 0.1);
$dx-black: #000;
$dx-grey: #7d7d7d;
$dx-grey-dark: #cccccc;
$dx-grey-light: #141010;
$dx-grey-light-2: #3e3e3f;
$dx-orange: #fb8c00;
$dx-orange-dark: #fb9a09;
$dx-orange-hover: #e88200;
$dx-orange-overlay: rgba($dx-orange, 0.1);
$dx-black-light: #323232;
$dx-blue: #0f68b1;
$dx-blue-light: #307bbc;
$dx-blue-light-2: #3189bb;
$dx-blue-overlay: rgba($dx-blue, 0.1);
$dx-grey-blur: #e5e5e5;
$dx-border-diagram: #4688f1;
$dx-btn-simulation: #549dc7;
$dx-text-title: #828282;
$dx-text-label: #adadad;
$dx-text-primary: #282832;
$dx-divider: #e6e8ee;
$dx-dark-light: #253c50;
$dx-link: #0a4caf;
$arr-colors-name: ();
$arr-colors-name: map-merge(
  (
    // "fx-sidebar": $fx-sidebar,
    // "fx-sidebar-light": $fx-sidebar-light,
    "dx-red": $dx-red,
    "dx-red-light": $dx-red-light,
    "dx-black": $dx-black,
    "dx-grey": $dx-grey,
    "dx-grey-dark": $dx-grey-dark,
    "dx-grey-light": $dx-grey-light,
    "dx-grey-light-2": $dx-grey-light-2,
    "dx-black-light": $dx-black-light,
    "dx-orange": $dx-orange,
    "dx-orange-dark": $dx-orange-dark,
    "dx-orange-hover": $dx-orange-hover,
    "dx-orange-overlay": $dx-orange-overlay,
    "dx-green": $dx-green,
    "dx-blue": $dx-blue,
    "dx-blue-light": $dx-blue-light,
    "dx-blue-light-2": $dx-blue-light-2,
    "dx-blue-overlay": $dx-blue-overlay,
    "dx-red-overlay": $dx-red-overlay,
    "dx-grey-blur": $dx-grey-blur,
    "dx-text-title": $dx-text-title,
    "dx-text-label": $dx-text-label,
    "dx-border-diagram": $dx-border-diagram,
    "dx-btn-simulation": $dx-btn-simulation,
    "dx-text-primary": $dx-text-primary,
    "dx-divider": $dx-divider,
    "dx-dark-light": $dx-dark-light,
    "dx-link": $dx-link,
  ),
  $arr-colors-name
);

// Light Mode

$dxgl-body: #ecf2fc;
$dxgl-body-light: #f9fbfe;
$dxgl-body-light-1: #e5e5e5;
$dxgl-main: #101924;
$dxgl-secondary: #243145;
$dxgl-blue: #3c77fe;
$dxgl-blue-light-2: #4a8bdd;
$dxgl-blue-light-4: #e2e8f7;
$dxgl-bg-input: $dx-grey;
$dxgl-bg-extra-input: rgba($dxgl-bg-input, 0.7);
$dxgl-text: #29374e;
$dxgl-text-light: rgba($dxgl-text, 0.7);
$dxgl-text-extra-light: rgba($dxgl-text, 0.4);


$black: #000000;

$primary: $dx-blue;
//$secondary: "";
//$third: "";
$success: $dx-green;
$info: $dx-blue-light;
$warning: $dx-orange;
$danger: $dx-red;
//$normal: "";

$theme-colors: ();
$theme-colors: map-merge((), $theme-colors);

// Alerts
//
// Define alert colors, border radius, and padding.

$alert-bg-level: 0;
$alert-border-level: 0;
$alert-color-level: 10;

// Body
//
// Settings for the `<body>` element.

$body-bg: $white;
$body-color: $dx-text-primary;
$text-btn-reg: $white;

// Links
//
// Style anchor elements.

$link-color: $dx-blue;
$link-decoration: none;
$link-hover-color: darken($dx-blue, 15%);
$link-hover-decoration: none;

// Components
//
// Define common padding and border radius sizes and more.

$box-shadow-sm: 0 0.125rem 0.25rem rgba($black, 0.075);
$box-shadow: 2px 2px 10px rgba($black, 0.2);
$box-shadow-lg: 0 1rem 3rem rgba($black, 0.175);

// Border color
$border-color: $dx-divider;

// Fonts
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
$font-family-sans-serif: "Poppins", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-roboto: "Roboto", $font-family-sans-serif;
$font-family-base: $font-roboto;
// stylelint-enable value-keyword-case
$spacer: 1rem;
$spacer-px: 1px;
$font-root: 14;
$font-size-root: ($font-root * $spacer-px);
$font-size-base: 1rem;
$font-size-lg: (36 / $font-root * $spacer);
$font-size-sm: (12 / $font-root * $spacer);

$font-weight-slight: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;

$arr-font-weight: (
  "font-weight-slight": $font-weight-slight,
  "font-weight-normal": $font-weight-normal,
  "font-weight-medium": $font-weight-medium,
  "font-weight-semi-bold": $font-weight-semi-bold,
  "font-weight-bold": $font-weight-bold,
  "font-weight-black": $font-weight-black,
);
$arr-font-weight: map-merge((), $arr-font-weight);

$font-weight-base: $font-weight-normal;
$line-height-base: 1.5;

$h1-font-size: (30 / $font-root * $spacer); // 30px
$h2-font-size: (24 / $font-root * $spacer); // 24px
$h3-font-size: (20 / $font-root * $spacer); // 20px
$h4-font-size: (18 / $font-root * $spacer); // 18px
$h5-font-size: (16 / $font-root * $spacer); // 16px
$h6-font-size: (14 / $font-root * $spacer); // 14px

$arr-font-size: (
  "0": (
    0 / $font-root * $spacer,
  ),
  "6": (
    6 / $font-root * $spacer,
  ),
  "10": (
    10 / $font-root * $spacer,
  ),
  "11": (
    11 / $font-root * $spacer,
  ),
  "12": (
    12 / $font-root * $spacer,
  ),
  "13": (
    13 / $font-root * $spacer,
  ),
  "14": $h6-font-size,
  "16": $h5-font-size,
  "18": $h4-font-size,
  "20": $h3-font-size,
  "24": $h2-font-size,
  "30": $h1-font-size,
  "32": (
    32 / $font-root * $spacer,
  ),
  "36": (
    36 / $font-root * $spacer,
  ),
  "40": (
    40 / $font-root * $spacer,
  ),
  "48": (
    48 / $font-root * $spacer,
  ),
  "50": (
    50 / $font-root * $spacer,
  ),
);
$arr-font-size: map-merge((), $arr-font-size);

$headings-font-weight: $font-weight-bold;
$headings-line-height: 1.5;

$arr-line-height: (
  "1": 1,
  "base": $line-height-base,
  "2": 2,
);
$arr-line-height: map-merge((), $arr-line-height);

// Size margin, padding

$mp: (
  -50: (-50 / $font-root * $spacer),
  -20: (-20 / $font-root * $spacer),
  -15: (-15 / $font-root * $spacer),
  -10: (-10 / $font-root * $spacer),
  -7: (-7 / $font-root * $spacer),
  "-05": (-5 / $font-root * $spacer),
  0: 0,
  1: ($spacer * 0.25),
  2: ($spacer * 0.5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3),

  "05": (5 / $font-root * $spacer),
  7: (7 / $font-root * $spacer),
  8: (8 / $font-root * $spacer),
  10: (10 / $font-root * $spacer),
  12: (12 / $font-root * $spacer),
  15: (15 / $font-root * $spacer),
  16: (16 / $font-root * $spacer),
  18: (18 / $font-root * $spacer),
  20: (20 / $font-root * $spacer),
  24: (24 / $font-root * $spacer),
  25: (25 / $font-root * $spacer),
  30: (30 / $font-root * $spacer),
  35: (35 / $font-root * $spacer),
  40: (40 / $font-root * $spacer),
  48: (48 / $font-root * $spacer),
  50: (50 / $font-root * $spacer),
  60: (60 / $font-root * $spacer),
  70: (70 / $font-root * $spacer),
  90: (90 / $font-root * $spacer),
  100: (100 / $font-root * $spacer),
  115: (115 / $font-root * $spacer),
  130: (130 / $font-root * $spacer),
  150: (150 / $font-root * $spacer),
  200: (200 / $font-root * $spacer)
);
$mp: map-merge((), $mp);

$sizes: (
  0: 0,
  5: 5%,
  10: 10%,
  15: 15%,
  20: 20%,
  22: 22%,
  25: 25%,
  30: 30%,
  35: 35%,
  40: 40%,
  45: 45%,
  50: 50%,
  55: 55%,
  60: 60%,
  65: 65%,
  70: 70%,
  75: 75%,
  78: 78%,
  80: 80%,
  85: 85%,
  90: 90%,
  95: 95%,
  100: 100%,
  auto: auto,
);
$sizes: map-merge((), $sizes);

//$border-color: $ub-divider-1;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  2xl: 1340px,
  3xl: 1580px,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  2xl: 1300px,
  3xl: 1580px,
);

$grid-gutter-width: 30px;
$sidebar-width: 232px;
$main-width: calc(100% - 232px);

// Border radius

$border-radius: (4 / $font-root * $spacer);
$border-radius-lg: (10 / $font-root * $spacer);
$border-radius-xl: (20 / $font-root * $spacer);
$border-radius-sm: (2 / $font-root * $spacer);

// Badges

$badge-font-size: (12 / $font-root * $spacer);
$badge-font-weight: $font-weight-medium;
$badge-padding-y: (2 / $font-root * $spacer);
$badge-padding-x: (10 / $font-root * $spacer);
$badge-border-radius: $border-radius-sm;

$badge-pill-padding-x: 0.6em;
// Use a higher than normal value to ensure completely rounded edges when
// customizing padding or font-size on labels.
$badge-pill-border-radius: 10rem;

// Form validation

$form-feedback-icon-valid: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNS41IiBoZWlnaHQ9IjE1LjUiIHZpZXdCb3g9IjAgMCAxNS41IDE1LjUiPjxwYXRoIGlkPSJQYXRoXzE2OTIxIiBkPSJNLS4yNS02QTcuNzUgNy43NSAwIDAgMC04LTEzLjc1IDcuNzUgNy43NSAwIDAgMC0xNS43NS02IDcuNzUgNy43NSAwIDAgMC04IDEuNzUgNy43NSA3Ljc1IDAgMCAwLS4yNS02ek0tOC45LTEuOWEuNS41IDAgMCAxLS43MDcgMGwtMy4yNS0zLjI1YS41LjUgMCAwIDEgMC0uNzA3bC43MDctLjcwN2EuNS41IDAgMCAxIC43MDcgMGwyLjE5MyAyLjE5MyA0LjY4OS00LjY4OWEuNS41IDAgMCAxIC43MDcgMGwuNzA3LjcwN2EuNS41IDAgMCAxIDAgLjcwN3oiIGZpbGw9IiMzNmM3MGEiIGRhdGEtbmFtZT0iUGF0aCAxNjkyMSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTUuNzUgMTMuNzUpIi8+PC9zdmc+");
$form-feedback-icon-invalid: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE4IDE2Ij48cGF0aCBpZD0iUGF0aF8xNjkyMCIgZD0iTTE3LjgtLjI1bC03LjUtMTNhMS41IDEuNSAwIDAgMC0yLjYgMEwuMi0uMjVBMS41IDEuNSAwIDAgMCAxLjUgMmgxNWExLjUgMS41IDAgMCAwIDEuMy0yLjI1ek05LTIuOTM3QTEuNDM3IDEuNDM3IDAgMCAxIDEwLjQzNy0xLjUgMS40MzcgMS40MzcgMCAwIDEgOS0uMDYyIDEuNDM3IDEuNDM3IDAgMCAxIDcuNTYyLTEuNSAxLjQzNyAxLjQzNyAwIDAgMSA5LTIuOTM3ek03LjYzNS04LjFhLjM3NS4zNzUgMCAwIDEgLjM3NC0uNEg5Ljk5YS4zNzUuMzc1IDAgMCAxIC4zNzQuNGwtLjIzMiA0LjI1YS4zNzUuMzc1IDAgMCAxLS4zNzQuMzU1SDguMjQxYS4zNzUuMzc1IDAgMCAxLS4zNzQtLjM1NXoiIGZpbGw9IiNmZjU5NTkiIGRhdGEtbmFtZT0iUGF0aCAxNjkyMCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAxNCkiLz48L3N2Zz4=");
//$input-disabled-bg: $color-412;

// FontAwesome

// $fa-font-path: './fonts/';
$fa-font-path: '/assets/fonts/' !default;
$fa-font-size-base: $font-size-base;

//
// Root
//

$header-size: (60 / $font-root * $spacer);
