/node_modules
/public/hot
/public/js
/public/css/*.css
/public/css/*.map
/public/css/*.gz
/public/images/*
/public/images/*.gif
/public/fonts/
/public/stats.html
/public/*.js
/public/*.js.map
/public/storage
/storage/*.key
/storage/api-docs
/storage/debugbar
/vendor
.env
.env.backup
.env.testing.example
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
composer.lock
public/js/
.DS_Store
.env.testing
phpunit.dusk.xml
public/mix-manifest.json
package-lock.json